<h1>Stuffbase</h1>

{% if session.username %}
<p>Logged in as {{ session.username }}</p>
<p>Root node id: {{ session.root_id }}</p>
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>description</th>
  </tr>

  {% for stuff in root_info %}
  <tr>
    <td>{{stuff[0]}}</td>
    <td>{{stuff[1]}}</td>
    <td>{{stuff[2]}}</td>
  </tr>
  {% endfor %}

</table>
<p>Insert new stuff into root
<p>
<form action="/newstuff" method="POST">
  <p>Name:<br>
    <input type="text" name="name">
  </p>
  <p>Description:<br>
    <input type="text" name="description">
  </p>
  <input type="submit" value="New stuff">
</form>

<a href="/logout">Log out</a>
{% else %}
<form action="/login" method="POST">
  <p>Username:<br>
    <input type="text" name="username">
  </p>
  <p>Password:<br>
    <input type="password" name="password">
  </p>
  <input type="submit" value="Log in">
</form>
<a href="/register">Create new user</a>
{% endif %}