{% extends "layout.html" %}
{% block title %}{{ session.username or "Login" }}{% endblock %}
{% block content %}
{% if session.username %}
<p>Root node id: {{ session.root_id }}</p>
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>description</th>
  </tr>

  {% for stuff in root_info %}
  <tr>
    <td><a href='{{"/stuff/%s" % stuff[0]}}'>{{stuff[0]}}</a></td>
    <td>{{stuff[1]}}</td>
    <td>{{stuff[2]}}</td>
  </tr>
  {% endfor %}

</table>
<p>Insert new stuff into root
<p>
<form action="/newrootstuff" method="POST">
  <p>Name:<br>
    <input type="text" name="name">
  </p>
  <p>Description:<br>
    <input type="text" name="description">
  </p>
  <input type="submit" value="New stuff">
</form>
{% else %}
<form action="/login" method="POST">
  <p>Username:<br>
    <input type="text" name="username">
  </p>
  <p>Password:<br>
    <input type="password" name="password">
  </p>
  <input type="submit" value="Log in">
</form>
<a href="/register">Create new user</a>
{% endif %}
{% endblock %}